<div class="row">
  <div class="col-sm-6">
    <%= link_to "Thong Ke", graduate_charts_path, class: "btn btn-success" %>
  </div>
  <div class="col-sm-6">
    <input type="submit" value="Xem thong ke Tuyen sinh">
  </div>
</div>
<% if examinee_signed_in? %>
    <div class="col-sm-6">
      <input type="submit" value="Xem tu van chon truong">
    </div>
    <div class="col-sm-6">
      <input type="submit" value="Dang ki vao truong dai hoc">
    </div>
<% end %>
<style>
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
</style>
