<div class="row">
  <div class="col-sm-3">
    <%= link_to "Thong Ke", graduate_charts_path, class: "btn btn-success" %>
  </div>
  <div class="col-sm-3">
    <%= link_to "Tim kiem chuyen nganh", major_searchs_path, class: "btn btn-success" %>
  </div>
  <div class="col-sm-3">
    <input type="submit" value="Xem thong ke Tuyen sinh">
  </div>
</div>
<% if examinee_signed_in? %>
  <div class="col-sm-6">
    <input type="submit" value="Xem tu van chon truong">
  </div>
  <div class="col-sm-6">
    <input type="submit" value="Dang ki vao truong dai hoc">
  </div>
<% end %>
