<% provide(:title, @cluster.name) %>
<div class="row">
  <aside class="col-md-5">
    <section class="user_info">
      <%= render "shared/cluster_info" %>
    </section>
  </aside>
  <aside class="col-md-7">
    <h3><%= t :map %></h3>
    <%= @cluster.map.html_safe  %>
  </aside>
</div>
  