<% provide(:title, @cluster.name) %>
<div class="row">
  <aside class="col-md-5">
    <section class="user_info well">
      <%= render "shared/cluster_info" %>
    </section>
  </aside>
  <aside class="col-md-7">
    <section class="user_info well">
      <%= render "shared/map_object", object: @cluster %>
    </section>
  </aside>
</div>