<% provide(:title, @examinee.name) %>
<div class="row">
  <aside class="col-md-5">
    <%= render "examinees/shared/examinee_info" %>
    <%= render "examinees/shared/result_graduated"%>
  </aside>
  <div class="col-md-7">
    <%= render "examinees/shared/result_form" %>
    <%= render "examinees/shared/result_graduated_form" %>
  </div>
</div>
