<% if object.errors.any? %>
<div id="error_explanation">
<div class="alert alert-danger">
Biểu mẫu chứa <%= pluralize(object.errors.count, "lỗi") %>.
</div>
<ul>
<% object.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
</div>
<% end %>
