<section class="map">
  <%= t :map %>
  <hr class="style-one">
  <% unless object.map.nil? %>
    <%= object.map.html_safe  %>
  <% else %>
    <div class="alert alert-info">
      <h3><%= t :not_map_for_object %></h3>
    </div>
  <% end %>
</section>