<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Bieu do diem TN</h3>
        </div>
        <div class="box-body">
          <%= column_chart graduate_score_charts_path, height: "500px", width: "100%" %>
        </div>
      </div>
    </div>
  </div>
</section>
