<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title"><%= t("chart.by_home_town") %></h3>
        </div>
        <div class="box-body">
          <div id="chartContainer"><%= @chart.render() %></div>
        </div>
      </div>
    </div>
  </div>
</section>
