<tr>
  <td class="center"><%= major.name %></td>
  <td>
    <%= link_to t("admin.show"), university_major_path(major.university, major),
      class: "btn btn-info icon-trash icon-white" %>
  </td>
  <td>
    <%= link_to t("admin.edit"), edit_university_major_path(major.university, major),
      class: "btn btn-info icon-trash icon-white" %>
  </td>
  <td>
    <%= link_to t("admin.delete"), university_major_path(major.university, major),
      method: :delete, data: {confirm: t("admin.confirm")},
      class: "btn btn-danger icon-trash icon-white" %>
  </td>
</tr>
