<h1>Majors#index</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="center"><%= t "examinee.name" %></th>
        <th class="center", colspan="3"><%= t "admin.actions" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @majors %>
    </tbody>
  </table>
