<tr class="well">
  <td><%= f.text_field :name, class: "form-control" %></td>
  <%= f.hidden_field :_destroy, class: 'check-remove' %>
  <td><%= link_to t(:remove), '#', class: 'remove_row' %></td>
</tr>
