<%= javascript_include_tag 'major' %>
<div class="col-md-offset-2 col-md-8">
  <div class="box box-primary">
    <div class="box-body box-profile">
      <%= render "form" %>
    </div>
  </div>
</div>
