<div class="row">
  <%= search_form_for @search, url: universities_registers_path do |f| %>
    <div class="col-md-4">
      <%= f.text_field :major_code_cont, placeholder:
        "Nhap ma nganh", class: "form-control" %>
    </div>
    <div class="col-md-4">
      <%= f.text_field :examinee_people_id_cont, placeholder:
        "Nhap ma so thi sinh", class: "form-control" %>
    </div>
    <div class="col-md-3">
      <%= f.submit "Search", class: "btn btn-primary"%>
    </div>
<% end %>
</div>
