@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
.navbar-nav > .user-menu > .dropdown-menu > li.user-header-tung {
  padding: 10px;
  text-align: center;
}
.skin-blue .main-header li.user-header-tung {
  background-color: #3c8dbc;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header-tung>p {
  z-index: 5;
  color: rgba(255,255,255,0.8);
  font-size: 17px;
  margin-top: 10px;
}
._4-u8 {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
}
._4-u2 {
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
}
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin: 0px 20px 15px 20px;
}

.alert-success {
    background-color: #4CAF50;
}
.alert-info {
    background-color: #2196F3;
}
.alert-warning {
    background-color: #ff9800;
}
.alert-notice {
    background-color: #4CAF50;
}
.content-wrapper,
.right-side {
  min-height: 100%;
  background-color: #ecf0f5;
  z-index: 800;
  padding: 10px 5px 5px 5px;
}
