<tr>
  <td class="center"><%= university.code %></td>
  <td class="center"><%= university.name %></td>
  <td>
    <%= link_to t("admin.show"), university_path(university),
      class: "btn btn-info icon-trash icon-white" %>
  </td>
</tr>
