<h1>THong tin chi tiet truong dai hoc</h1>
<%= link_to "Quan li chuyen nganh", university_majors_path(@university), class: "btn btn-success" %>
<%= link_to "Quan li danh sach tuyen sinh", "", class: "btn btn-success" %>
<%= link_to "Quan li diem chuan", "", class: "btn btn-success" %>
<%= link_to "Quan li danh sach thi sinh trung tuyen", "", class: "btn btn-success" %>
